// 页面最大宽度
$max-width: 1600px;
// 页面最小宽度
$min-width: 1200px;
// header-bar高度
$height-header-bar: 70px;
// footer-bar高度
$height-footer-bar: 30px;
// 主题色
$primary-color: #00b8ff;
// 字体颜色
$primary-font-color: #666;
// 字体颜色 - 次要
$second-font-color: #999;
