root = true

[*]
indent_style = space ## space-使用点表示空格 tab-使用箭头表示空格
indent_size = 2
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = 80

[.prettierrc]
indent_style = space
indent_size = 2

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false