
.bs-icon-user:before { content: '\e801'; } /* '' */
.bs-icon-ok:before { content: '\e802'; } /* '' */
.bs-icon-arrow-left:before { content: '\e812'; } /* '' */
.bs-icon-cog-outline:before { content: '\e813'; } /* '' */
.bs-icon-cog:before { content: '\e815'; } /* '' */
.bs-icon-attention:before { content: '\e816'; } /* '' */
.bs-icon-help-circled:before { content: '\e818'; } /* '' */
.bs-icon-user5:before { content: '\e81e'; } /* '' */
.bs-icon-flow:before { content: '\e821'; } /* '' */
.bs-icon-api:before { content: '\e822'; } /* '' */
.bs-icon-error:before { content: '\e833'; } /* '' */
.bs-icon-edit-2:before { content: '\e83a'; } /* '' */
.bs-icon-delete:before { content: '\e83b'; } /* '' */
.bs-icon-view-icon:before { content: '\e840'; } /* '' */
.bs-icon-password:before { content: '\e842'; } /* '' */
.bs-icon-captcha:before { content: '\e844'; } /* '' */
.bs-icon-user1:before { content: '\e845'; } /* '' */
.bs-icon-app-query:before { content: '\e84e'; } /* '' */
.bs-icon-app-token:before { content: '\e84f'; } /* '' */
.bs-icon-app-list:before { content: '\e850'; } /* '' */
.bs-icon-user4:before { content: '\e858'; } /* '' */
.bs-icon-password1:before { content: '\e859'; } /* '' */
.bs-icon-notify:before { content: '\e85a'; } /* '' */
.bs-icon-view-app:before { content: '\e85b'; } /* '' */
.bs-icon-user2:before { content: '\e85f'; } /* '' */
.bs-icon-details:before { content: '\e877'; } /* '' */
.bs-icon-collapse:before { content: '\e8a2'; } /* '' */
.bs-icon-reply-2:before { content: '\e8a6'; } /* '' */
.bs-icon-verify:before { content: '\e8aa'; } /* '' */
.bs-icon-collapse-2:before { content: '\e8bd'; } /* '' */
.bs-icon-app-setting:before { content: '\e8be'; } /* '' */
.bs-icon-info-circled-alt:before { content: '\f086'; } /* '' */
.bs-icon-reply-all:before { content: '\f122'; } /* '' */
.bs-icon-file-code:before { content: '\f1c9'; } /* '' */
.bs-icon-user3:before { content: '\f2c0'; } /* '' */